body {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    min-width: 1000px;
    background-origin: border-box;
    background-size: 100% 100%;
    background-position: 100% 100%;
    max-width: 100%;
    position: relative;
    max-height: 100%;
    min-height: 600px;
}
.containter {
    position: relative;
}
.containter header .navbar.navbar-expand-lg.navbar-light.bg-transparent {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;




}

nav.navbar.navbar-expand-lg.navbar-light.bg-transparent p.navbar-brand a#label  {
    font-size: 220%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-top: medium solid #E88D35;
    border-bottom: medium solid #E88D35;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 9px;
    color: #54380A;
    text-shadow: 2px 1px 4px;
    -webkit-box-shadow: 0px 0px 6px 2px;
    box-shadow: 0px 0px 6px 2px;
    text-decoration: none;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-transparent p.navbar-brand:hover a#label{
	color: #DB9B87;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-transparent button.navbar-toggler  {
    border-bottom-color: #E88D35;
    border-top-color: #E88D35;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: medium;
    border-top-width: medium;
    border-radius: 9px;

}

nav.navbar.navbar-expand-lg.navbar-light.bg-transparent div#navbarText.collapse.navbar-collapse ul.navbar-nav li a {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #54380A;
    border-top: medium solid #E88D35;
    border-bottom: medium solid #E88D35;
    border-radius: 9px;
    margin-right: 10px;
    margin-left: 10px;
    text-shadow: 1px 0px 0px;
    -webkit-box-shadow: 0px 0px 6px 2px;
    box-shadow: 0px 0px 6px 2px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-transparent div#navbarText.collapse.navbar-collapse ul.navbar-nav li:hover a {
	color: #DB9B87;
}


section.mint-function {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 5%;
}
.containter .mint-function .card.text-center.bg-transparent {
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    border-color: #E88D35;
    -webkit-box-shadow: 0px 0px 6px 1px;
    box-shadow: 0px 0px 6px 1px;
    min-width: 510px;
    height: 750px;
    max-width: 700px;
    margin-top: 10vh;
}

.mint-function .card.text-center.bg-transparent .messages.justify-content-center {
    margin-top: 5px;
    position: relative;
    width: 500px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    min-width: 340px;

}

section.mint-function div.messages .justify-content-center {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(../images/form.png);
    width: 500px;
    -webkit-box-shadow: 0px 0px 45px;
    box-shadow: 0px 0px 45px;
    border-radius: 75px;
    height: 700px;
    text-decoration: none;
    position: relative;
}
section.mint-function .messages .data div.private-mint  {
    margin-left: auto;
    margin-right: auto;
}
section.mint-function .messages .data div.private-mint p {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: medium;
    border-top-width: medium;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-color: #A64512;
    border-bottom-color: #A64512;
    border-radius: 9px;
    line-height: 50px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    word-spacing: 5px;
    white-space: normal;
}
section.mint-function .messages .data div.private-mint p a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #552E09;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}
section.mint-function .messages .data ul {
    list-style: none;
    border-bottom-color: #A64512;
    border-top-color: #A64512;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: medium;
    border-top-width: medium;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
}
section.mint-function .messages .data ul li {
    margin-top: 20px;
    margin-left: -45px;
}
section.mint-function .messages .data ul li a {
    color: #552E09;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: normal;
    word-spacing: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border-top: medium solid #E88D35;
    border-radius: 7px;
    border-bottom: medium solid #E88D35;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 13px;
}
section.mint-function .messages .data ul li.mint-price {
    text-decoration: none;
    text-align: center;
}
section.mint-function .messages .data ul li.minted-count {
    text-decoration: none;
    border-bottom-color: #E88D35;
    border-top-color: #E88D35;
    text-align: center;
}
section.mint-function .messages .data ul li.mint-state {
    text-decoration: none;
    border-bottom-color: #E88D35;
    border-top-color: #E88D35;
    text-align: center;
}
section.mint-function .messages .data ul li.mint-total {
    text-decoration: none;
    border-bottom-color: #E88D35;
    border-top-color: #E88D35;
    text-align: center;
}
section.mint-function .messages .info-message {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #E88D35;
    border-right: medium solid #A64512;
    border-radius: 40px;
    border-left: medium solid #A64512;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}
section.mint-function .messages .info-message a {
    text-decoration: none;
    color: #876C29;
    border: thin solid #F2C042;
    border-radius: 5px;
    font-size: 18px;
    padding-right: 1px;
    padding-left: 1px;
}
section.mint-function .messages .mint-button {
    color: #E88D35;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 2px solid #A25628;
    border-top: 2px solid #A25628;
    border-radius: 11px;
    text-indent: 0px;
    text-shadow: 2px 0px;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    position: relative;
}
section.mint-function .messages .mint-button a {
    text-decoration: none;
    color: #E88D35;
}
section.mint-function .messages .mint-button:hover a {
    color: #DB9B87;
}
.containter .information.flex-nowrap.align-bottom {
    margin-left: 5%;
    margin-right: 5%;
}

.information.flex-nowrap .d-flex.py-3.my-4 .nav.justify-content-start {
    position: relative;
    margin-right: auto;
}
.information.flex-nowrap .d-flex.py-3.my-4 .nav.justify-content-center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.information.flex-nowrap .d-flex.py-3.my-4 .nav.justify-content-end {
    margin-left: auto;
    position: relative;

}


.information .d-flex.py-3.my-4 .justify-content-start li a      {
    border-bottom: medium solid #E88D35;
    border-top: medium solid #E88D35;
    border-radius: 7px;
    color: #E88D35;
    margin-left: 10px;
}
.information .d-flex.py-3.my-4 .justify-content-start li:hover a     {
    color: #DB9B87;
}
.information .d-flex.py-3.my-4 .justify-content-center p     {
    border-bottom: medium solid #E88D35;
    border-top: medium solid #E88D35;
    border-radius: 7px;
    color: #E88D35;
}
.information .d-flex.py-3.my-4 .justify-content-end li a      {
    border-bottom: medium solid #E88D35;
    border-top: medium solid #E88D35;
    border-radius: 7px;
    color: #E88D35;
    margin-left: 10px;
}
.information .d-flex.py-3.my-4 .nav.justify-content-end li:hover a     {
    color: #DB9B87;
}
