body {

  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.App {
    clear: both;
    background-attachment: scroll;
    position: relative;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}


/*_______________________________________________________
// HEADER  //----------------------------
_______________________________________________________*/

.fonts {
  font-family: 'Fjalla One', sans-serif;
  color: #6f5c72 !important;
  font-size: 25px;
  font-weight: bolder;
}

.fonts-style {
  font-style: oblique;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.861);
  
}

.fonts-style.price {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.861);
  justify-content: center;
  text-shadow: #222;
  box-shadow: 0 0 10px 0px, inset 0px 0px 0px 0px rgb(216, 233, 238);
  border-radius: 15%;
}

.fonts-style.eligibility {
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.861);
  text-shadow: #222;
  box-shadow: 0 0 10px 0px, inset 0px 0px 0px 0px rgb(216, 233, 238);
  border-radius: 20%;
  text-align: center;
  box-sizing: content-box;
  margin-top: 5px;
  text-align: center;
  padding: 0px;
  margin-top: 4px;
}

.hover-effect:hover {
  color: #DB9B87;
  opacity: 0.75;
}


.menu-button {
  font-size: 18px;
  color: #222;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.menu-button:focus,
.menu-button:hover {
  color: #222;
}

.menu-button:focus:after,
.menu-button:hover:after {
  width: 100%;
  left: 0%;
}

.menu-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(192, 90, 36);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}



