body {
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 490px;
  min-height: max-content;
}

.App {
    clear: both;
    background-attachment: scroll;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}


/*_______________________________________________________
// HEADER  //----------------------------
_______________________________________________________*/

.fonts {
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px;
  font-weight: bolder;
}

.fonts-hero-fonts {
  color: rgba(100, 10, 10, 0.897) !important;
}

.fonts-hero-fonts.minions{
  color: rgba(141, 32, 32, 0.897) !important;
}

.fonts-style {
  font-style: oblique;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.861);
  justify-content: center;
}




.fonts-style.eligibility {
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: rgba(175, 78, 78, 0.897);
  box-shadow: 0 0 8px 0px;
  border-radius: 15%;
  text-align: center;
}

.fonts-style.eligibility.agreements {
  color: rgb(175, 96, 96);
  background:rgba(222, 184, 135, 0.26)!important;
  font-style: normal;
  font-size: 18px;
  border-radius: 10%;
  padding-left : 5px;
  padding-right : 5px;
  padding-top: 2px;
  padding-bottom : 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.fonts-style.eligibility.agreements a {
  color: rgb(151, 77, 77);
}

.fonts-style.eligibility.agreements:hover a {
  color: #c2725a;
  opacity: 0.75;
}



.hover-effect:hover {
  color: #DB9B87;
  opacity: 0.75;
}

.menu-button {
  font-size: 15px;
  color: #222;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.menu-button-hide {
    display: none;

}


.menu-button-dissabled:hover + .menu-button-hide {
  display: inline-block;
  color: rgba(100, 10, 10, 0.897) !important;
}


