.card {
    display: flow-root;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 20px 0px ,inset #8e4f3b  0 0 20px 0px;
    box-shadow: 0 0 10px 0px, inset 0px 0px 0px 0px rgb(216, 233, 238);
    background-color: rgb(236, 160, 98);
    opacity: 0.9;
    border-radius: 15%;
    min-width: 375px;
    max-width: min-content;
  }
  
  .claim-pl.button {
    margin-bottom: 8px ;
    margin-top: 7px;
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 17px !important;
    font-weight: bold !important;
    background:rgba(222, 184, 135, 0.322)!important;
    box-shadow: 0 0 8px 0px!important;
    color: rgb(102, 32, 23);
    border-radius: 15%!important;
    text-align: center!important;
  }

  .claim-pl.button:hover {
    animation: mh 1s infinite ease;
  }
  
  @keyframes mh {
    0% {
      transform: rotateX(-15deg) translateY(0px);
    }
  
    50% {
      transform: rotateX(-15deg) translateY(-4px);
    }
  
    100% {
      transform: rotateX(-15deg) translateY(0px);
    }
  }


  .not-allowed-to-claim-pl.button {
    width: 105px;
    height: max-content;
    margin-bottom: 15px ;
    margin-top: 17px;
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 17px !important;
    font-weight: bold !important;
    background:rgba(222, 184, 135, 0.26)!important;
    box-shadow: 0 0 8px 0px!important;
    color: rgb(102, 32, 23);
    border-radius: 15%!important;
    text-align: center!important;
  }