.mint-card {
    box-shadow: 0 0 20px 0px ,inset #8e4f3b  0 0 20px 0px;
    box-shadow: 0 0 10px 0px, inset 0px 0px 0px 0px rgb(216, 233, 238);
    background-color: rgb(236, 160, 98);
    opacity: 0.96;
    border-radius: 12%;
    min-width: 376px;
    max-width: min-content;
  }
  

  .claim-pl.button:hover {
    animation: mh 1s infinite ease;
  }
  
  @keyframes mh {
    0% {
      transform: rotateX(-15deg) translateY(0px);
    }
  
    50% {
      transform: rotateX(-15deg) translateY(-4px);
    }
  
    100% {
      transform: rotateX(-15deg) translateY(0px);
    }
  }


  .btn-none {
    width: 125px;
  }