.card {
    display: flex;
    padding: 2em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
  }
  
  .card p {
    color: black;
    font-size: 3rem;
    align-items: center;
  }
  
  .filter {
    display: none;
    position: absolute;
  }