.card {
    display: flow-root;
    padding: 2em;
    box-shadow: 2px 3px 20px black, 0 0 60px #9c6023 inset;
    background: #fffaf0ad;
    filter: url(#wavy2);
    border: #9c6023;
    border-radius: 20%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 375px;
    max-width: 400px;
  }
  
  .card p {
    color: black;
    font-size: 3rem;
    align-items: center;
  }
  
  .filter {
    display: none;
  }

  .card-submit {
    min-height: 270px;
  }