.conditions {
  color: #3f1b3fa6;
  font-weight: bolder;
  font-size: medium;
  background:rgba(222, 184, 135, 0.26)!important;
  box-shadow: 0px 0px 10px 0px, inset 0px 0px 5px 0px rgb(202, 29, 29);
  color: rgba(116, 44, 44, 0.897);;
  font-family: 'Fjalla One', sans-serif;
  transform-style: preserve-3d;
  animation: con 1.5s infinite ease;
  border-radius: 15%!important;
  transition: 1s;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  height: 58px;
}

.conditions:hover.conditions.text {
  justify-content: center;
  scale: 0.5;
  opacity: 0.7;
}

.conditions:hover {
  box-shadow: 0 0 15px 0px, inset 0px 0px 15px 0px rgb(202, 29, 29);
  color: rgb(102, 32, 23);
  font-size: medium;
  font-weight: bolder;
}

@keyframes con {
  0% {
    transform: rotateX(-15deg) translateY(0px);
  }

  50% {
    transform: rotateX(-15deg) translateY(-5px);
  }

  100% {
    transform: rotateX(-15deg) translateY(0px);
  }
}