.hero {
  min-width: max-content;
  max-width: 513px;
  animation: hr 3.0s infinite ease !important;
  text-shadow: #77388a;
  box-shadow: 0 0 10px 0px;
  background-color: rgba(214, 142, 82, 0.945);
}


@keyframes hr {
    0% {
      transform: rotateX(-15deg) translateY(0px);
    }
  
    50% {
      transform: rotateX(-15deg) translateY(-10px);
    }
  
    100% {
      transform: rotateX(-15deg) translateY(0px);
    }
}